.container {
    width:50%;
    display:flex;
    flex-wrap:wrap;
}

.tile {
    width:23%;
    padding:5%;
}

.right {
    border-right: 1px solid black;
}

.bottom {
    border-bottom: 1px solid black;
}